{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-async-to-promises"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",   {
      "targets": {
        "browsers": ["since 2016-06"]
      }
    }]
  ]
}