body > header{
  transition: 1s;
  opacity: 1;
}

body[data-splash-progress-ready="false"]{
  main{
    max-height: var(--svh);
    overflow: hidden;
  }

  > footer{
    display: none;
  }

  > header{
    opacity: 0;
  }
}